<header>
  <div class="container" style="border: 0px solid red">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="navbar-brand">MY TASK PLANNER</div>
      </div>
    </nav>
  </div>
</header>
<section>
  <div class="jumbotron main-body">
    <div class="container">
      <div class="row">
        <div class="col-md-3" style="border: 0px solid">
          <ul class="nav flex-column main-menu">
            <li class="nav-item">
              <a class="nav-link active" href="#">DASH BOARD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">TASKS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MENU ONE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">MENU TWO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">LOGOUT</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9" style="border: 0px solid; padding-top: 10px">
          <div class=" col-md-12 menu-title">
             TASKS
          </div>
          <div>
            <ul class="nav nav-pills menu-tabs">
              <li class="nav-item" [ngClass]="{'active': showAddForm}">
                <a class="nav-link" href="#" (click)="addTasks()" >ADD TASK</a>
              </li>
              <li class="nav-item" [ngClass]="{'active': showAllTask}">
                <a class="nav-link" href="#" (click)="allTasks()">ALL TASKS</a>
              </li>
            </ul>
          </div>
          <div *ngIf="showAddForm">
            <app-add-tasks></app-add-tasks>
          </div>
          <div *ngIf="showAllTask">
            <app-tasks-list></app-tasks-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




